:root{
    padding: 0;
    margin: 0;
    --bg-color: #00274E;  
    --orange: #FABC3F;
    --ecard-color: #001F3F;
    --card-border-color: #747474;
    --card-inner-bg: #DADADA;
    --font: "Roboto condensed",sans-serif;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-color);
}

#info-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#titles-container{
    width: fit-content;
}

#dev-name{
    color: white;
    font-family: var(--font);
    font-weight: bold;
    font-size: 28px;
    -webkit-text-stroke: 6px black;
    paint-order: stroke fill;
}

#dev-title{
    color: var(--orange);
    font-family: var(--font);
    font-weight: 500;
    font-size: 24px;
    -webkit-text-stroke: 6px black;
    paint-order: stroke fill;
}

#dev-photo-frame{
    width: 190px;
    height: 190px;
}

#dev-photo{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#education-container{
    margin-right: auto;
    margin-left: auto;
}

.education-card{
    margin: 10px;
    width: 300px;
}

.education-card-title{  
    background-color: var(--ecard-color);
    border: solid var(--card-border-color);
    border-radius: 10px 10px 0px 0px;
    border-width: 2px 2px 0px 2px; 
}

.education-card-description{
    background-color: var(--card-inner-bg);
    border: solid var(--card-border-color);
    border-radius: 0px 0px 10px 10px;
    border-width: 0px 2px 2px 2px;
    display: flex; 
}

.education-title{
    font-family: var(--font);
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.education-img-frame{
    margin: 0px;
    width: 80px;
    height: 80px;
}

.education-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.education-description{
    flex-grow: 1;
}

.education-description h4{
    font-family: "Roboto condensed";
    font-weight: bold;
    font-size: 16px;
}

.education-card-description{
    overflow: hidden;
}

.sub-section{
    color: white;
    font-family: var(--font);
    font-size: 48px;
    font-weight: 500;
    -webkit-text-stroke: 6px black;
    paint-order: stroke fill;
}

/* #skills-container{

} */

.skills-title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: var(--font);
    width: 90%;
    margin-top: 20px;
}

.skills-title figure{
    margin-right: 10px;
}

#social-skills{
    border: 2px solid var(--card-border-color);
    border-radius: 15px;
    background-color: var(--ecard-color);
}

.social-skills-list li{
    color: white;
    font-family: var(--font);
    font-size: 20px;
    font-weight: 500;
    
}

#contact-container{
    flex-wrap: wrap;
}

#contact-information{
    max-width: 600px;
    margin-left: 10px;
    margin-right: 10px;
}

#contact-phrase{
    color: white;
    font-family: var(--font);
    -webkit-text-stroke: 3px black;
    paint-order: stroke fill;
    font-size: 25px;
    text-align: center;
}   

.emphasis{
    color: var(--orange);   
}

.contact-media{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.contact-logo-frame{
    width: 40px;
    height: 40px;
}

.contact-logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-media-text{
    color: white;
    font-family: var(--font);
    font-size: 20px;
}

#contact-form-container{
    background-color: var(--ecard-color);
    border-radius: 20px;
    border: 2px solid var(--card-border-color);
    max-width: 635px;
    margin-right: 10px;
    margin-left: 10px;
}

.img-ipt-container{
    display: flex;
    align-items: center;
}

.img-ipt-frame{
    width: 40px;
    height: 40px;
    margin-bottom: 0px;
    margin-right: 10px;
}

.img-ipt{
    width: 100%;
    height: 100%;
}

#name-ipt, #email-ipt{
    height: 35px;
}

#contact-form{
    width: 85%;
}

#contact-form label{
    color: white;
    font-family: var(--font);
    font-weight: 500;
    font-size: 20px;
    margin-left: 50px;
}

#contact-form input,textarea{
    border-radius: 5px;
    background-color: var(--ecard-color);
    border: 1px solid white;
    flex-grow: 1;
    color: white;
}

#contact-form textarea{
    resize: none;
    height: 160px;
}

#send-container{
    max-width: 310px;
    min-width: 280px;
}

#send-btn{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #FF8A5C;
    color: white;
    display: block;
    border-radius: 20px;
    font-size: 48px;
    font-weight: 500;
    font-family: var(--font);
    border: none;
    -webkit-text-stroke: 2px black;
    paint-order: stroke fill;
    width: 100%;
    height: 70px;
}